* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: solid 1px yellow;*/
}

.navbar {
  padding: 35px;
  background-color: white;
  text-align: center;
  width: 100vw;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
  margin-left: 25px;
}

.navbar ul li a {
  color: #2604bd;
  font-family: Cochin;
  font-size: 14pt;
  font-weight: 500;
  text-decoration: none;
  transform: ease 0.5s;
  background-color: #a6afff52;
  border-radius: 8px;
  padding: 7px;
}

.navbar ul li a:hover {
  color: #ffffff;
  background-color: #2604bd;
  transition: ease 0.8s;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

.cards {
  width: 30vw;
  height: 60vh;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: -2.4px 0px 3px 1px #a591ff34;
  background-color: #ffffff;
}

.panel {
  width: 65vw;
  height: 60vh;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 2.4px 0px 3px 1px #a591ff34;
}

.waitlist,
.plans,
.balance {
  width: 20%;
  height: 60vh;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px #2604bd34;
  margin-top: -50px;
  background-color: #ffffff;
  padding: 50px;
}

.cards img {
  width: 20%;
  height: 91px;
  cursor: pointer;
  transition: ease 0.8s;
}

.cards img:hover {
  margin-left: 50px;
}

.balance p {
  margin: 10px;
  font-weight: bold;
}

.valuebalance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 1s;
}

.valuebalance p {
  margin: 10px;
}

.plans h2 {
  margin: 10px;
  color: silver;
}
.plans h3 {
  margin: 30px;
  font-size: 12pt;
  color: silver;
}
.plans a {
  padding: 20px;
  background-color: #feb101;
  color: #fff;
  border-radius: 5pt;
  margin-top: 50px;
  display: block;
  text-decoration: none;
}
.waitlist div {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-top: -100px;
  box-shadow: 0px 0px 3px silver;
  padding-top: 10px;
  text-align: center;
  margin-left: 34%;
}
.waitlist div img {
  width: 70%;
  height: auto;
}
.waitlist input {
  padding: 10px;
  background-color: #f2f2e9;
  border-radius: 10px;
  margin-top: 50px;
  border: 0px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 40px;
}
.waitlist a {
  padding: 10px;
  font-size: 10pt;
  background-color: #fa3f6c;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 40px;
}
::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 12pt;
  padding-left: 15px;
}
.waitlist p {
  display: flex;
  flex-direction: row;
  margin: 21px;
  font-size: 10pt;
}
.linha {
  position: relative;
  width: 250px;
  top: 100px;
  left: -13px;
}
.login {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
}
.login input {
  margin: 10px;
  padding: 10px;
}
.login button {
  padding: 10px;
  margin: 10px;
}
